.custom-card {
    border: none;
    transition: box-shadow 0.3s;
}

.custom-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.custom-button{
    background-color: #e72e77;
    border: none;
    border-radius: 5px;
}